.display-wrapper {
  border: 1px solid #cfcfcd;
  border-radius: 2px;

  ul.cards-wrapper {
    height: 420px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
  }

  li.card {
    background: #fff;
    display: flex;
    flex-direction: column;
    height: 420px;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: transform 0.75s cubic-bezier(0.65, -0.55, 0.25, 1.55), opacity 0.25s;
    // transition: transform 0.75s ease, opacity 0.25s;
    transition-delay: 0.33s;
    z-index: -1;

    &.active {
      opacity: 1;
      z-index: 100;
    }

    &:after {
      border-radius: 6px;
      content: '';
      font-size: 64px;
      padding: 4px;
      left: 24px;
      position: absolute;
      top: 32px;
      transform: rotate(-10deg);
      visibility: hidden;
    }
  }

  li.pass {
    opacity: 1;
    transform: translate3d(-475px, -150px, 0) rotate3d(0,0,1,-60deg);
    z-index: 150;

    &:after {
      border: 2px solid #c8bc41;
      color: #c8bc41;
      content: 'OOPS';
      visibility: visible;
    }
  }

  li.super {
    opacity: 1;
    transform: translate3d(0, -500px, 0);
    z-index: 150;

    &:after {
      border: 2px solid #2efefd;
      color: #2efefd;
      content: 'SUPER LIKE';
      max-width: 200px;
      visibility: visible;
    }
  }

  li.liked {
    opacity: 1;
    transform: translate3d(475px, 150px, 0) rotate3d(0,0,1,-60deg);
    z-index: 150;

    &:after {
      border: 2px solid #9fdb31;
      color: #9fdb31;
      content: 'LIKE';
      opacity: 1;
      visibility: visible;
    }
  }

  li.active + li.inactive {
    z-index: 50;
  }

  .kitten-photo {
    background-position: center;
    background-size: cover;
    height: 340px;
    overflow: hidden;
    width: 100%;
  }
}