.profile-photo {
  background-position: center center;
  background-size: 160%;
  border-radius: 50%;
  box-shadow:
    0 0 0 2px #fc471e,
    0 0 0 4px #fff,
    0 0 0 6px #fc471e,
    0px 0px 1px 8px rgba(0, 0, 0, .08),
    0 2px 1px 8px rgba(0, 0, 0, .08);
  height: 45px;
  width: 45px;
}

.profile-photo--user {
  background-image: url('/assets/profile-pic.jpg');
}
